version: '3.8'
services:
  mysql:
    image: mysql:latest
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: data-project # Optional: automatically create a database
    ports:
      - "3306:3306" # Maps host_port:container_port
    volumes:
      - mysql-data:/var/lib/mysql # Persists data between container runs